<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SARR.Presentacion.Properties.Settings.SARRConnectionString"
            connectionString="Data Source=CCHRISTICO-PC;Initial Catalog=SARR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>